name: learn-postman-newman
run-name: ${{ github.actor }} is executing the postman test suite
on: [push]
jobs:     
  server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: newman run Blog Routs.postman_collection.json
  

        