name: learn-postman-newman
run-name: ${{ github.actor }} is executing the postman test suite
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: newman run Weather-API-Routes.postman_collection.json
